* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    background: linear-gradient(black, rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.788));
}

.container-css {

    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.titulos {
    padding-left: 3.125rem;
    font-size: 3rem;
    color: #70FF00;
}

.header_menu {
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_menu h3 {
    color: #70FF00
}

.header_list ul {
    display: flex;
    flex-direction: row;
}

.header_list a {
    text-decoration: none;
    color: white;
    margin: 0.9rem;
}

.links img {
    height: 1.3rem;
    margin-right: 1.5rem;
}

.container_main {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main_background {
    color: white;


}

.main_background_info h3 {
    font-size: 1.875rem;
}

.main_background_info h2 {
    font-size: 1.875rem;
    margin-top: 7.5rem;
}

.main_background_info h1 {
    font-size: 3rem;
    position: absolute;
    top: 238px;
    color: #70FF00;
    border-right: 1px solid #70FF00;
    white-space: nowrap;
    overflow: hidden;
}

.typing_animation {
    animation: blinkCursor 1000ms steps(40) infinite normal, typing 2s steps(40) 1s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 438px;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: #70FF00;
    }

    to {
        border-right-color: transparent;
    }
}

.main_info {
    display: flex;
    justify-content: space-between;
    margin-top: 1.875rem;
}

.main_background_info_exp {
    color: #828282;
    font-size: 1.3rem;
    font-weight: 100;
    display: flex;
    align-items: center;
}

.main_background_info_project {
    color: #828282;
    font-size: 1.3rem;
    font-weight: 100;
    display: flex;
    align-items: center;
}

.main_background_info_exp h2 {
    font-size: 4rem;
    margin: 0.6rem;
}

.main_background_info_project h2 {
    font-size: 4rem;
    margin: 0.6rem;
}

.main_aboutme {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
    text-align: justify;
}

.main_aboutme h2 {
    color: #70FF00;
    margin-bottom: 1.875rem;
}

.main_aboutme p {
    color: white;
    margin-left: 100px;
}

.skills {
    padding: 6rem;
}

.skills_image {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.projetos {
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
}

.container_footer {
    padding-left: 6rem;
    display: flex;
    flex-direction: column;

}

.text_footer {
    padding: 1.875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text_footer p {
    color: white;
    width: 300px;
    text-align: justify;
}

.links_footer {
    height: 8.125rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.links_footer a {
    padding: 0.6rem;
}


.link_email {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

@media (max-width: 1024px) {
    .container-css {
        max-width: 100vw;
        min-height: 100vh;

    }

    .container_main {
        display: grid;
        justify-content: center;
    }

    .main_background_info h1 {
        position: absolute;
        top: 178px;
    }


}

@media (max-width: 768px) {
    .container-css {
        display: grid;
        justify-content: center;
        padding-top: 10px;
    }

    .header_menu {
        display: flex;
        flex-direction: column;
    }

    .container_main {
        display: grid;
        justify-content: center;
    }

    .main_background_info h1 {
        position: absolute;
        top: 178px;
    }

    .main_aboutme {
        width: 80%;
        display: flex;
        align-items: flex-start;
    }



    .container_footer {
        display: grid;
    }

    .text_footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    .text_footer p {
        width: 100%;
        margin-bottom: 3.5rem;
    }

}

@media (max-width: 480px) {

    .container_main {
        margin: 0;
        display: grid;
        justify-content: center;

    }

    .main_background_img img {
        display: none;
    }
}